<!DOCTYPE html>
    <head>
    </head>
    <body>
        <h1>Login</h1>
        <form method="post" action="/submitLogin">
            <div>
                <label for="userId">User ID</label>
                <input name="userId" id="userId">
            </div>
            <div>
                <label for="password">Password</label>
                <input name="password" id="password" type="password">
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </body>
</html>